@charset "UTF-8";
/*CSS Doc*/


/*UNIVERSAL CLASSES*/

.hidden
{
	display: none;
}

.divider
{
	width: 1400px;
	height: 25px;
	background: #485725;
}

.title
{
	width: 1050px;
	font-family: Arial;
	font-size: 36px;
	margin-top: 5px; 
}

.title h1, h2
{
	font-size: 36px;
	font-weight: bold;
	padding: 10px;
}

.subtitle
{
	width: 1050px;
	margin-left: 175px;
	font-family: Arial;
}

.subtitle h3
{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

/*ALL PAGE STYLE*/

#siteContainer
{
	margin: 0 auto;
	width: 1400px;
	height: auto;
	text-decoration: none;
	background: #bbd08b;
	font-family: Arial;
}

#mainNav {
	height: 175px;
	width: 1400px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cedcad+100 */
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cedcad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#cedcad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#cedcad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cedcad',GradientType=0 ); /* IE6-9 */
	display: flex;
}

#logoContainer {
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 25px;
	background: #252525
}

#mainNav ul{
	display: flex;
	height: 175px;
	margin-top: 75px;
}

#mainNav ul li {
	font-family: Arial;
	font-size: 24px;
	color: #485725;
	margin-left: 15px;
}

#Sbutton{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	padding-top:5px;
	border-radius: 10px;
	width: 80px;
	height: 30px;
}

#mainNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
	color: #5d7032;
}

#mainNav ul li a:hover {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

#memberships
{
	width: 975px;
	height: 325px;
	margin: 0 auto;
	background: #bbd08b;
	display: flex;
}

#membershipText
{	
	height: 275px;
	font-family: Arial;
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#membershipText h2
{
	font-size: 36px;
}

#membershipText p
{
	margin-left: 5px;
	line-height: 45px;
	text-indent: 20px;
	text-align: left;
}

#fundraiser
{
	width: 975px;
	height: 575px;
	margin-left: 175px;
	font-size: 30px;
	padding-bottom: 10px;
	margin: 0 auto;
	color: #5d7032;
}

#fundraiserBlurb
{
	height: 550px;
	margin-top: 25px;
	margin-bottom: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#fundraiser p
{
	margin-top: 15px;
	font-size: 24px;
	text-align: center;
}

#fundraiserImgs
{
	width: 850px;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	margin: 0 auto;
}

.fundraiserImg
{
	width: 225px;
	height: 175px;
	background: #333;
}

#fundraiserTitles
{
	width: 850px;
	font-size: 24px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.fundraiserTitle
{
	text-align: center;
	width: 225px;
}

#fundraiserText
{
	width: 850px;
}

#footerNav {
	height: 175px;
	background: #898989;
	display: flex;
}

#footerNav ul{
	width: 1400px;
	display: flex;
	height: 175px;
	margin-top: 75px;
	margin-left: 75px;
}

#footerNav ul li {
	font-family: Arial;
	font-size: 24px;
	color: #000;
	margin-left: 15px;
}

#footerNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 20px;
	border-radius: 10px;
	color: #000;
}

#footerNav ul li a:hover {
	background-color: #999;
	border-radius: 10px;
	padding: 20px;
}

/*INDEX PAGE*/

#heroContainer
{
	height: 500px;
	background: #999;
}

.hero
{
	height: 400px;
	background-image: linear-gradient(rgba(255, 255, 204, 0.13), rgba(0, 0, 0, 0)), url("../images/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#heroSlogan1
{
	font-size: 36px;
	font-family: Arial;
	color: #FFF;
	position: relative;
	top: 8px;
	left: 20px;
}

#heroSlogan2
{
	font-size: 36px;
	font-family: Arial;
	color: #FFF;
	position: relative;
	margin-top: 0;
	top: 320px;
	left: 880px;
}

#missionBG
{
	width: 975px;
	height: 100px;
	margin: 0 auto;
	background-color: #bbd08b;
}

#heroText
{
	width: 975px;
	height: 75px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.announcements
{
	width: 1050px;
	padding: 10px;
	margin-left: 175px;
	font-family: Arial;
	display: flex;
}

.announcement
{	
	width: 700px;
	margin-left: 20px;
	font-size: 22px;
	line-height: 40px;
	text-indent: 20px;
}

.announcement h2
{
	width: 1050px;
	font-size: 24px;
	font-weight: bold;
}

.announcementImg
{
	width: 300px;
	height: 300px;
	background: #333;
	margin-top: 10px;
}

.businesses
{
	width: 1050px;
	height: 300px;
	display: flex;
	margin-left: 175px;
	padding: 10px;
}

.businessText
{	
	text-indent: 20px;
	flex-direction: row;
	width: 700px;
	margin-left: 15px;
	font-size: 22px;
	line-height: 40px;
}

.businessesImg
{
	width: 300px;
	height: 175px;
	background: #333;
	margin-top: 10px;
}

.executives
{
	width: 1050px;
	margin: 0 auto;
	text-align: left;
}

.chairs
{
	width: 1050px;
	margin: 0 auto;
	text-align: left;
}

.members {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.member 
{
	flex-direction: column;
	padding: 10px
}

.member h2
{
	font-weight: bold;
}

/*ABOUT US PAGE*/

#about1
{
	width: 1050px;
	background: #d7d7d7;
	display: flex;
	margin: 0 auto;
}

#aboutImageCon{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#imageA1
{
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}

#imageA2{
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}

#aboutTop{
	display: flex;
	flex-direction: column;
	margin-left: 50px;

}

.title2 {
	font-size: 30px;
	padding: 10px;
	font-family: Arial;

}

#aboutTop p {
	
	line-height: 45px;
	font-size: 24px;
	

}
	
#about2{
	width: 1050px;
	display: flex;
	margin: 0 auto;
	background-color: #d7d7d7;
	height: 705px;

}

#about2ImageCon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;


}

#about2Image {
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}

#about2Image2 {
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}



#about2TextCon {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 10px; 


}

#about2TextCon p {
	font-size: 24px;
	font-family: Arial;
	margin-right: 50px;
	line-height: 27px;
}


