@charset "UTF-8";
/*CSS Doc*/


/*UNIVERSAL CLASSES*/
a
{
	text-decoration: none;
	font-weight: bold;
}

.hidden
{
	display: none;
}

.divider
{
	max-width: 1000px;
	height: 2px;
	margin: 0 auto;
	background: #485725;
}

#siteContainer
{
	max-width: 1400px;
	margin: 0 auto;
	height: auto;
	text-decoration: none;
	background: #FFF;
	font-family: Arial;
}

.subtitle
{
	width: auto;
	font-family: Arial;
}

@media screen and (min-width: 960px) {

.extraSpace
{
	width: 900px;
	height: auto;
	margin: 0 auto;
	align-content: center;
}

.title
{
	font-family: Arial;
	color: #5d7032;
	font-size: 36px;
	margin-top: 5px; 
}

.title h1, h2, h3
{
	font-size: 36px;
	font-weight: bold;
	padding: 10px;
}

.subtitle h2
{
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

.subtitle h3
{
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

/*ALL PAGE STYLE*/

#mainNav {
	height: 150px;
	min-width: 960px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedcad+0,ffffff+100 */
	background: #cedcad; /* Old browsers */
    background: -moz-linear-gradient(top, #cedcad 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedcad 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedcad 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedcad', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

#logoContainer {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 25px;
}

#mainNav ul {
	display: flex;
	height: 100px;
	margin-top: 75px;
}

#mainNav ul li {
	font-family: Arial;
	font-size: 16px;
	color: #485725;
	margin-left: 10px;
}

#Sbutton{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	padding-top: 5px;
	border-radius: 10px;
	width: 85px;
	height: 20px;
}

#mainNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
	color: #5d7032;
}

#mainNav ul li a:hover {
	color: #FFF;
}

.MbuttonCon
{
	width: 200px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

#membershipText
{	
	height: 275px;
	font-family: Arial;
	font-size: 30px;
	color: #5d7032;
	margin: 0 auto;
}

#membershipText h2
{
	font-size: 36px;
}

#membershipText p
{
	margin-left: 5px;
	line-height: 35px;
	text-indent: 20px;
	text-align: left;
	padding: 10px; 
}

#fundraiser
{
	width: 975px;
	height: auto;
	margin-left: 175px;
	font-size: 30px;
	padding: 20px;
	margin: 0 auto;
	color: #5d7032;
}

#fundraiser p
{
	margin-top: 15px;
	font-size: 24px;
	text-align: center;
}

#fundraiserImgs
{
	width: 850px;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	margin: 0 auto;
}

.fundraiserImg
{
	width: 225px;
	height: 175px;
}

#fundraiserTitles
{
	width: 850px;
	font-size: 24px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.fundraiserTitle
{
	text-align: center;
	width: 225px;
}

#fundraiserText
{
	width: 850px;
	margin: 0 auto;
}

#footer {
	height: 50px;
	width: 960px;
	margin: 0 auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cedcad+100 */
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cedcad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#cedcad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#cedcad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cedcad',GradientType=0 ); /* IE6-9 */
	display: flex;
}

#footerNav ul
{
	width: 1350px;
	display: flex;
	height: 50px;
	margin-left: 50px;
}

#footerNav ul li 
{
	font-family: Arial;
	font-size: 20px;
	color: #5d7032;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}


#footerNav ul li a 
{
	color: #5d7032;
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
}

#footerNav ul li a:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

.sbutton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

/*INDEX PAGE*/

#heroContainer
{
	height: 500px;
	background: #999;
}

.hero
{
	height: 400px;
	background-image: linear-gradient(rgba(255, 255, 204, 0.13), rgba(0, 0, 0, 0)), url("../images/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#heroSlogan {
	width: 975px;
	height: 75px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #FFF;
}

#heroText
{
	width: 975px;
	height: 75px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #5d7032;
}

#heroText p
{
	padding: 10px; 
}

/*Announcements*/

#announcements
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
}

.announcements
{	
	width: 975px;
	padding: 10px;
	margin-left: 30px;
	font-family: Arial;
	display: flex;
}

.announcement
{	
	margin-left: 40px;
	width: 500px;
	font-size: 22px;
	line-height: 40px;
}

.announcement h2
{
	font-size: 24px;
	font-weight: bold;
}

.announcementImg
{
	width: 300px;
	height: 300px;
	margin-top: 10px;
}

#businesses
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	font-family: Arial;
}

.businesses
{
	width: 975px;
	height: auto;
	display: flex;
	margin-top: 20px;
}

.businessText
{	
	width: 600px;
	margin-left: 30px;
	text-indent: 20px;
	flex-direction: row;
	font-size: 22px;
	line-height: 40px;
}

.businessesImg
{
	width: 300px;
	height: 175px;
	margin-top: 10px;
	margin-left: 10px;
}

.comittee
{
	width: 1000px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: Arial;
	display: grid;
	grid-column: 5;
	grid-row: 2;
}

.comittees
{
	width: 1000px;
	color: #5d7032;
	text-align: left;
	justify-content: space-evenly;
}

.members 
{
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.member p
{
	padding: 10px;
}


.member h2
{
	font-size: 24px;
}

/*ABOUT US PAGE*/

#about
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#about1
{
	width: 975px;
	display: flex;
	margin: 0 auto;
}

#aboutImageCon
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px; 
	margin-bottom: 20px;
}

#about1TextCon
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 400px;
	margin-bottom: 20px;
}

#about1TextCon p
{
	text-indent: 10px;
	font-size: 24px;
	line-height: 30px;
}

#subtitle p
{
	text-indent: 0px;
	width: 450px;
	font-size: 30px;
	font-family: Arial;
}

	
#about2
{
	color: #5d7032;
	display: flex;
	width: 975px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#about2ImageCon 
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 20px;
}

#about2TextCon 
{
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 20px; 
}

#about2TextCon p 
{
	font-size: 24px;
	font-family: Arial;
	margin-right: 50px;
	line-height: 27px;
}


/*CONTACT US PAGE*/

#contactCon
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#contactTop
{
	width: 975px;
	display: flex;
	margin: 0 auto;
}

#contImageCon
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px; 
	margin-bottom: 20px;
}

#cont1TextCon
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 400px;
	margin-bottom: 20px;
}

#cont1TextCon p
{
	font-size: 24px;
	margin-top: 15px;
	line-height: 30px;
}

.subtitle1 p
{
	text-indent: 0px;
	width: 450px;
	font-size: 30px;
	font-family: Arial;
}

	
#cont2
{
	color: #5d7032;
	display: flex;
	width: 975px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}


#cont2TextCon 
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px; 
}

#cont2TextCon p 
{
	font-size: 24px;
	font-family: Arial;
	margin-right: 50px;
	line-height: 40px;
}

#contactForm
{
	margin-top: 150px;
	margin-right: 20px;
	height: 415px;
	padding: 10px;
	background-color: #d9bb9a;
	color: #915d4a;
}

input[ type=text ], input[ type=email ], select, textarea
{
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	resize: vertical;
}

input [ type=text ], select, textarea, #message
{
	padding-bottom: 125px;
}

/*membership section*/

#memberCon
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#memberTop
{
	width: 975px;
	display: flex;
	margin: 0 auto;
}

#memImageCon
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px; 
	margin-bottom: 20px;
}

#memTextCon
{
	width: 400px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 35px;
}

.deal
{
	font-weight: bold;
	font-size: 24px;
}

/*PAST EVENTS*/

#eventCon
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.eventBox
{
	width: 975px;
	padding-top: 15px;
	margin: 0 auto;
}

.eventImages
{
	width: 850px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.eventImg
{
	width: 225px;
	height: 175px;
	margin-top: 10px;
}

.eventText
{
	width: 850px;
	font-size: 24px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}

.boxText
{
	text-align: left;
	width: 225px;
}

.eventButtons
{	
	margin: 0 auto;
	width: 850px;
	display: flex;	
	margin-top: 20px;
	margin-bottom: 10px;
	flex-direction: row;
	justify-content: space-evenly;

}

/*MORE*/

/*newletters*/

#newsCon
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#newsletter
{
	width: 975px;
	display: flex;
	margin: 0 auto;
}


#news1TextCon
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 400px;
	margin-bottom: 20px;
}

#news1TextCon p
{
	font-size: 24px;
	margin-top: 15px;
	line-height: 30px;
	text-indent: 10px;
}

#subtitle p
{
	text-indent: 0px;
	width: 400px;
	font-size: 30px;
	font-family: Arial;
}

#newsletters
{
	width: 415px;
	height: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f9bc+0,bbcf8c+100 */
    background: #e6f9bc; /* Old browsers */
    background: -moz-linear-gradient(top, #e6f9bc 0%, #bbcf8c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e6f9bc 0%,#bbcf8c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e6f9bc 0%,#bbcf8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f9bc', endColorstr='#bbcf8c',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 150px;
	padding: 20px;
	display: flex;
	border: 1px #485725 dashed;
}

#newsletters ol
{
	width: 415px;
	list-style: none; 
}

#newsletters ul
{
	list-style: none;
	padding-left: 40px; 
	text-align: left;
	
}

#newsletters ul li a
{
	color: #5d7032;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
	line-height: 20px;
}

#newsletters ul li a:hover
{
	color: #485725;
	padding: 20px;
}

/*links*/

#links
{
	margin-top: 25px;
	margin-bottom: 25px;
	height: auto;
	width: 975px;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.links
{
	margin: 0 auto;
	width: 975px;
	height: auto;
	display: flex;
	flex-direction: column;
}


.links1
{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	font-size: 24px;
	display: flex;
	flex-direction: row;

}

.links2
{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 850px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.links3
{
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.linkB
{
	margin-top: 10px;
	font-size: 24px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	border-radius: 10px;
	color: #5d7032;
}

.linkB a
{
	text-decoration: none;
	margin-top: 10px;
	color: #5d7032;
}

.linkB a:hover
{
	color: #FFF;
}

.buttonCon
{
	width: 200px;
	height: auto;
	text-align: center;
	margin-top: 10px;
}

.button
{
	padding-left: 30px;
	padding-right: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f9bc+0,bbcf8c+100 */
    background: #e6f9bc; /* Old browsers */
    background: -moz-linear-gradient(top, #e6f9bc 0%, #bbcf8c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e6f9bc 0%,#bbcf8c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e6f9bc 0%,#bbcf8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f9bc', endColorstr='#bbcf8c',GradientType=0 ); /* IE6-9 */
}

.button:hover
{
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9d089+0,e2b07d+100 */
    background: #e9d089; /* Old browsers */
    background: -moz-linear-gradient(top, #e9d089 0%, #e2b07d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9d089 0%,#e2b07d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9d089 0%,#e2b07d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d089', endColorstr='#e2b07d',GradientType=0 ); /* IE6-9 */
}

.linkDesc
{
	margin-top: 10px;
	padding: 10px;
	line-height: 35px;
}

#disclaimer 
{
	margin: 0 auto;
	width: 850px;
	font-size: 18px;
	color: #5d7032;
	padding: 10px;
}

/* Projects Page */

#subtitleP h3
{
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#projectsTop 
{
	margin: 0 auto;
	width: 850px;
	text-align: center;
	font-size: 24px;
	padding: 10px; 
}

#projectsCon 
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#projectsImageCon 
{
	margin-left: 135px;
	padding: 10px; 
}


#projectsBottom{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.projBottom
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin: 20px;
	padding: 10px; 
}

.projBottom2 h3 
{
	font-size: 30px;
	font-weight: bold;
}

.projBottom2 
{
	margin-top: 10px;
	font-size: 24px;
	line-height: 35px;
	width: 450px;
}

.projBottom2 p
{
	text-indent: 20px;
}


#projectArchives
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 50px;
	margin-bottom: 20px;
}

/*proj page template*/

.project
{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 975px;
	height: auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.project1
{
	width: 975px;
	display: flex;
	margin: 0 auto;
}

.projectImageCon
{
	display: flex;
	flex-direction: column;
	
	margin-left: 30px; 
	margin-bottom: 20px;
}

.projimage
{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
	height: 275px;
	background-color: #333; 
}

.project1TextCon
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 400px;
	margin-bottom: 20px;
}

.project1TextCon p
{
	margin-top: 15px;
	text-indent: 10px;
	font-size: 24px;
	line-height: 30px;
}

#subtitle p
{
	text-indent: 0px;
	width: 450px;
	font-size: 30px;
	font-family: Arial;
}

	
.project2
{
	color: #5d7032;
	display: flex;
	width: 975px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

.project2ImageCon 
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 20px;
}


.project2TextCon 
{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 20px; 
}

.project2TextCon p 
{
	font-size: 24px;
	font-family: Arial;
	margin-right: 50px;
	line-height: 27px;
}



#dataCon
{
	width: 975px;
	height: 575px;
	font-size: 30px;
	padding-bottom: 10px;
	margin: 0 auto;
	color: #5d7032;
}

#dataBlurb
{
	height: 550px;
	margin-top: 25px;
	margin-bottom: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ffd8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e9ffd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9ffd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9ffd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ffd8',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	border: 1px #485725 dashed;
}

#dataImgs {
	width: 960px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 15px;
	margin-top: 90px;
}

.dataImg
{
	width: 275px;
	height: 206px;

}

} /*end web media query1*/

@media screen and (min-width: 1200px) {

	#mainNav {
	height: 175px;
	width: 1400px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedcad+0,ffffff+100 */
	background: #cedcad; /* Old browsers */
    background: -moz-linear-gradient(top, #cedcad 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedcad 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedcad 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedcad', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	display: flex;
}

#logoContainer {
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 25px;
}

#mainNav ul{
	display: flex;
	height: 175px;
	margin-top: 75px;
}

#mainNav ul li {
	font-family: Arial;
	font-size: 24px;
	color: #485725;
	margin-left: 15px;
}

#Sbutton{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	padding-top:5px;
	border-radius: 10px;
	width: 85px;
	height: 30px;
}

#mainNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
	color: #5d7032;
}

#mainNav ul li a:hover {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

#footer {
	height: 50px;
	width: 1400px;
	margin: 0 auto;
	color: #5d7032;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cedcad+100 */
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cedcad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#cedcad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#cedcad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cedcad',GradientType=0 ); /* IE6-9 */
	display: flex;
}

#footerNav ul
{
	width: 1350px;
	display: flex;
	height: 50px;
	margin-left: 50px;
}

#footerNav ul li 
{
	font-family: Arial;
	font-size: 20px;
	color: #5d7032;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}


#footerNav ul li a 
{
	color: #5d7032;
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
}

#footerNav ul li a:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

.sbutton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2c584+0,cced87+100 */
	background: #b2c584; /* Old browsers */
    background: -moz-linear-gradient(top, #b2c584 0%, #cced87 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2c584 0%,#cced87 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2c584 0%,#cced87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c584', endColorstr='#cced87',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 18px #a6b87b;
	border-radius: 10px;
	padding: 5px;
}

} /*end web media query 2*/
